@charset "utf-8";
* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-family: '微软雅黑'
}
ul {
	list-style: none
}
a {
	text-decoration: none;
	color: #333
}
a:hover {
	color: #e62318!important
}
.clearfix:after {
	content: '.';
	display: block;
	height: 0;
	clear: both;
	visibility: hidden
}
.none {
	display: none
}
.Left {
	float: left
}
.header {
	background-color: #fff
}
.header .menu-bar {
	height: 36px
}
.view {
	width: 1200px;
	margin: 0 auto
}
.header .menu-bar .category {
	width: 200px;
	position: relative;
	float: left;
	cursor: pointer;
	z-index: 100
}
.header .menu-bar .category h2 {
	font-weight: 400;
	background: #e62318;
	height: 36px;
	line-height: 36px;
	text-align: center;
	color: #fff;
	font-size: 15px
}
.category-option {
	width: 200px;
	padding: 9px 0 9px;
	background: rgba(75, 74, 74, 0.644);
	position: absolute;
	z-index: 101;
	display: block;
}
.category-option .cat-item {
	height: 34px;
	line-height: 34px;
	vertical-align: top;
	transition: .2s ease-in-out
}
.category-option .cat-item .sub-cat {
	overflow: hidden;
	display: none;
	width: 616px;
	height: 427px;
	padding: 9px 30px 25px 0;
	left: 200px;
	top: 0;
	background: rgba(255,255,255,.95);
	z-index: 10000;
	position: absolute;
	line-height: 20px
}
.category-option .cat-item.top-cat .sub-cat {
	width: 750px
}
.category-option .top-cat .sub-cat .sub-cat-links {
	width: 544px
}
.category-option .sub-cat .sub-cat-links .sub-group {
	padding-top: 16px
}
.category-option .sub-cat .sub-cat-links .sub-title {
	width: 93px;
	font-size: 13px;
	font-weight: 700
}
.category-option .sub-cat .sub-cat-links .sub-title .i-t {
	overflow: hidden;
	width: 5px;
	height: 5px;
	float: left;
	background: url(../images/menu.png) -285px 0 no-repeat;
	margin: 8px 4px 0 10px
}
.category-option .sub-cat .sub-cat-links .sub-content {
	font-size: 12px;
	width: 299px;
	padding-bottom: 16px;
	border-bottom: 1px dotted #afacb1
}
.category-option .cat-item.top-cat .sub-cat .sub-cat-links .sub-content {
	width: 433px
}
.category-option .sub-cat .sub-cat-links .sub-content a {
	margin-right: 16px;
	display: inline-block;
	color: #666
}
.category-option .sub-cat .sub-cat-brand {
	width: 190px;
	padding-left: 16px
}
.category-option .sub-cat .sub-cat-brand h6 {
	font-size: 14px;
	padding: 16px 0 12px;
	color: #333
}
.category-option .sub-cat .sub-cat-brand .tag {
	margin-bottom: 25px;
	font-size: 12px;
	height: 88px;
	overflow: hidden
}
.category-option .sub-cat .sub-cat-brand .tag a {
	margin-right: 16px;
	display: inline-block;
	color: #666;
	line-height: 22px
}
.category-option .cat-item.top-cat .icon {
	opacity: 1;
}
.category-option .cat-item .icon {
	float: left;
	width: 20px;
	height: 20px;
	margin: 8px 10px 0 15px;
	background: url(../images/menu.png) no-repeat;
	opacity: .65
}
.category-option .cat-item .txt {
	color: #c8c8c8;
	margin-right: 10px;
	float: left;
	font-size: 13px
}
.category-option .cat-item.top-cat .txt {
	color: #fff;
	font-size: 14px
}
.category-option .cat-item .icon.i0 {
	background-position: -21px -168px
}
.category-option .cat-item .icon.i1 {
	background-position: -21px -147px
}
.category-option .cat-item .icon.i2 {
	background-position: -21px -126px
}
.category-option .cat-item .icon.i3 {
	background-position: -21px -231px
}
.category-option .cat-item .icon.i4 {
	background-position: -21px -210px
}
.category-option .cat-item .icon.i5 {
	background-position: -21px -189px
}
.category-option .cat-item .icon.i6 {
	background-position: -21px -264px
}
.category-option .cat-item .icon.i7 {
	background-position: -21px -42px
}
.category-option .cat-item .icon.i8 {
	background-position: -21px -21px
}
.category-option .cat-item .icon.i9 {
	background-position: -21px 0
}
.category-option .cat-item .icon.i10 {
	background-position: -21px -105px
}
.category-option .cat-item .icon.i11 {
	background-position: -21px -84px
}
.category-option .cat-item .icon.i12 {
	background-position: -21px -63px
}
.category-option .cat-item.hover .icon.i0 {
	background-position: 0 -168px;
	opacity: 1
}
.category-option .cat-item.hover .icon.i1 {
	background-position: 0 -147px;
	opacity: 1
}
.category-option .cat-item.hover .icon.i2 {
	background-position: 0 -126px;
	opacity: 1
}
.category-option .cat-item.hover .icon.i3 {
	background-position: 0 -231px;
	opacity: 1
}
.category-option .cat-item.hover .icon.i4 {
	background-position: 0 -210px;
	opacity: 1
}
.category-option .cat-item.hover .icon.i5 {
	background-position: 0 -189px;
	opacity: 1
}
.category-option .cat-item.hover .icon.i6 {
	background-position: 0 -264px;
	opacity: 1
}
.category-option .cat-item.hover .icon.i7 {
	background-position: 0 -42px;
	opacity: 1
}
.category-option .cat-item.hover .icon.i8 {
	background-position: 0 -21px;
	opacity: 1
}
.category-option .cat-item.hover .icon.i9 {
	background-position: 0 0;
	opacity: 1
}
.category-option .cat-item.hover .icon.i10 {
	background-position: 0 -105px;
	opacity: 1
}
.category-option .cat-item.hover .icon.i11 {
	background-position: 0 -84px;
	opacity: 1
}
.category-option .cat-item.hover .icon.i12 {
	background-position: 0 -63px;
	opacity: 1
}
.category-option .cat-item.hover {
	background: #fff;
	background: rgba(255,255,255,.9);
	padding-left: 5px
}
.category-option .cat-item.hover a {
	color: #333!important
}
.category-option .cat-item.hover a:hover {
	color: #e62318!important
}
.category-option .cat-item:hover .sub-cat {
	display: block;
	opacity: 1;
	padding-left: 10px;
	animation: subcat .3s ease-in-out
}
@keyframes subcat {
from {
padding-left:0
}
to {
padding-left:10px
}
}
.header .menu-bar .navigator {
	margin-left: 200px;
	height: 36px
}
.header .menu-bar .navigator li {
	padding: 0 15px;
	height: 36px;
	line-height: 36px;
	float: left;
	position: relative
}
.header .menu-bar .navigator li a {
	font-size: 16px
}
.header .menu-bar .navigator li.current a {
	color: #e62318
}
.scroll-banner {
	position: relative;
	z-index: 0;
	overflow: hidden;
	height: 460px
}
.scroll-banner .scroll-content {
	height: 460px
}
.scroll-banner .scroll-content li {
	position: absolute;
	height: 460px;
	width: 100%
}
.scroll-banner .scroll-item {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	text-align: center;
	display: none
}
.scroll-banner .scroll-item .banner_r {
	position: absolute;
	right: 0;
	top: 20px
}
.scroll-banner .scroll-item .banner_r a {
	display: block;
	position: absolute;
	right: 0;
	width: 180px;
	height: 200px;
	background-color: rgba(255,255,255,.7);
	transition: background-color .4s
}
.scroll-banner .scroll-item .banner_r a:last-child {
	top: 220px
}
.scroll-banner .scroll-item .banner_r a img {
	vertical-align: middle;
	width: 100%
}
.scroll-banner .scroll-item .banner_r a:hover {
	background-color: #fff
}
.scroll-banner .scroll-index {
	position: relative;
	-webkit-filter: inherit;
	filter: inherit;
	width: 1200px;
	height: 460px;
	margin: 0 auto
}
.scroll-banner .scroll-item .sc-big {
	position: relative
}
.fadeInR {
	animation-name: fadeInR;
	animation-duration: 1.5s;
	animation-timing-function: linear
}
@keyframes fadeInR {
from {
left:-20px
}
to {
opacity:1;
filter:alpha(opacity=100);
left:0
}
}
.scroll-btn {
	position: absolute;
	overflow: hidden;
	bottom: 30px;
	z-index: 3;
	width: 100%;
	text-align: center
}
.scroll-btn span {
	display: inline-block;
	width: 30px;
	height: 5px;
	margin: 0 1px;
	cursor: pointer;
	background: #fff
}
.scroll-btn span.current {
	background: #333
}
